// ------- viewport params
$min: 320px;
$iphone4: 480px;
$iphone5: 568px;
$pad: 768px;
$pc: 1280px;
$desktop: 1280px;

// ------- layout params

$traisit: .6s;

@import "color";
@import "mix";
@import "animate";
